In [7]:
import requests
import pandas as pd

def get_data(ticker_id, api_key):
    url = f"https://api.tiingo.com/tiingo/daily/{ticker_id}/prices"
    params = {
        'startDate': '2010-01-01',
        'format': 'json',  # Use 'json' instead of 'csv' for JSON response
        'resampleFreq': 'daily',
        'token': api_key,
    }
    response = requests.get(url, params=params)
    data = response.json()
    return data

    
api_key = "5f9b868e8158bbcbed75f0549ff6f14b7a62b8f8"
ticker_symbol = "MSFT"

data = get_data(ticker_symbol, api_key)
data1 = pd.DataFrame(data)
data1

,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,2010-01-04T00:00:00.000Z,30.950,31.10,30.59,30.62,38409100,23.430960,23.544518,23.158419,23.181130,38409100,0.0,1.0
1,2010-01-05T00:00:00.000Z,30.960,31.10,30.64,30.85,49749600,23.438530,23.544518,23.196271,23.355254,49749600,0.0,1.0
2,2010-01-06T00:00:00.000Z,30.770,31.08,30.52,30.88,58182400,23.294689,23.529377,23.105424,23.377965,58182400,0.0,1.0
3,2010-01-07T00:00:00.000Z,30.452,30.70,30.19,30.63,50559700,23.053944,23.241695,22.855595,23.188701,50559700,0.0,1.0
4,2010-01-08T00:00:00.000Z,30.660,30.88,30.24,30.28,51197400,23.211413,23.377965,22.893448,22.923730,51197400,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3554,2024-02-16T00:00:00.000Z,404.060,408.29,403.44,407.96,22296495,404.060000,408.290000,403.440000,407.960000,22296495,0.0,1.0
3555,2024-02-20T00:00:00.000Z,402.790,404.49,398.01,403.24,24307915,402.790000,404.490000,398.010000,403.240000,24307915,0.0,1.0
3556,2024-02-21T00:00:00.000Z,402.180,402.29,397.22,400.17,18631072,402.180000,402.290000,397.220000,400.170000,18631072,0.0,1.0
3557,2024-02-22T00:00:00.000Z,411.650,412.83,408.57,410.19,27009869,411.650000,412.830000,408.570000,410.190000,27009869,0.0,1.0
3558,2024-02-23T00:00:00.000Z,410.340,415.86,408.97,415.67,16295879,410.340000,415.860000,408.970000,415.670000,16295879,0.0,1.0